@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar.ql-snow {
  border: 1px solid #e5e7eb;
}

.ql-container.ql-snow {
  border: 1px solid #e5e7eb;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: #f7dcda;
  color: #333333;
  overflow: visible;
}

.ql-toolbar {
  position: sticky;
  z-index: 20;
}

.ql-container {
  overflow-x: auto;
  height: 300px;
}
